#canvas {
  /*border: 1px solid black;*/
  display: block;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  width: 100vw;
}

.column {
  padding: 20px;
  /*border: 1px solid #ccc;*/
}

body {
  background-color: #454545;
}

/*#center-panel {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 10px;
  margin-bottom: 20px;

}*/
